<!DOCTYPE html>
<html lang="en">
  <title> King of the Hill </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <link rel="stylesheet" href="tachyons.min.css">
    <script src="vue-tabs.js"></script>
    <script src="web3.min.js"></script>
    <script src="lodash.js"></script>
</head>
<body class="w-100 code">
    <div id="layout" class="w-100">
        <nav class="dt w-100 border-box pa3 ph5-ns">
            <a class="dtc v-mid mid-gray link dim" href="#" title="Home">
                <img src="crown.png" class="dtc dib w2 h2 br-100" alt="Site Name">
                <h2 class="dtc dib w6 h2 br-100" >King of the Hill</h2>
            </a>
            <div class="dtc v-mid w-75 tr">
                <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns">Total Locked up: {{contract_value}} EETH</a>
                <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns">Account: {{account_address}}</a>
            </div>
        </nav>
        <div v-show="web3_enabled && ewasm_testnet_enabled" class="w-100">
            <div class="w-50-ns center">
                <h2> Challenge <i>{{current_king}}</i> ! </h2>
                <p>Who has offered up {{current_king_value}} EETH to become the reigning king.</p>
                <fieldset v-show="!transacting" class="ba b--transparent ph0 mh0 center">
                    <div class="mt3 cf ph2-ns w-100">
                        <label class="db pa2 fw6 lh-copy f6 w-50" for="king_name">Name</label>
                        <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white" name="king_name" v-model="name">
                    </div>
                    <div class="mt3 cf ph2-ns w-100">
                        <label class="db pa2 fw6 lh-copy f6 w-50 nowrap" for="value">Challenge Value</label>
                        <div class="w-50">
                            <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white" name="value" v-model="value" type="number" step=".01">
                        </div>
                        <div class="w-50 pa2">
                            <div class="pa2">EwasmETH</div>
                        </div>
                        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib w-20 pa2 tc" v-on:click="sendTransaction()" value="Become King">
                    </div>
                </fieldset>
                <div class="pa1" v-show="transacting"><b>Awaiting transaction...</b></div>
                <div class="pa1" v-show="transact_message"><b>{{transact_message}}</b></div>
            </div>
            <div class="w-50-ns center">
                <tabs>
                  <tab name="Previous Monarchs" :selected="true">
                    <h2> Previous monarchs </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="pv2 ph3 tl f6 fw6 ttu">Date Crowned</th>
                                <th class="pv2 ph3 tl f6 fw6 ttu">Name</th>
                                <th class="pv2 ph3 tl f6 fw6 ttu">"Stake"</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="m in orderedKings">
                                <td class="pv2 ph3">{{m.date_crowned}}</td>
                                <td class="pv2 ph3">{{m.name}}</td>
                                <td class="pv2 ph3">{{m.value}} EETH</td>
                            </tr>
                        </tbody>
                    </table>
                  </tab>
                  <tab name="Source">
                    <pre>
contract("KingOfTheHill"):

  # Globals
  var
    king_name: bytes32
    king_addr: address
    king_value: wei_value
    king_else: uint128

  # Events
  proc BecameKing(name: bytes32, value: uint128) {.event.}

  # Methods
  proc becomeKing*(name: bytes32) {.payable,self,log,msg.} =
    if msg.value > self.king_value:
      self.king_name = name
      self.king_addr = msg.sender
      self.king_value = msg.value
      log.BecameKing2(name, msg.value)

  proc getKing*() {.self.}: bytes32 =
    self.king_name

  proc getKingAddr*() {.self.}: address =
    self.king_addr

  proc getKingValue*() {.self.}: wei_value =
    self.king_value
                    </pre>
                  </tab>
                </tabs>
            </div>
        </div>
        <div class="">
            <div v-show="!web3_enabled" class="measure center">
                Web3 browser is not connected, please do so now. <a href="https://metamask.io/"> MetMask </a> is a good Web3 browser plugin, you can use.
            </div>
            <div v-show="!ewasm_testnet_enabled && web3_enabled" class="measure center">
                <h1 class="f3"> You are not connected to eWasm Testnet </h1>
                <p>To do so using metamask:</p>
                <div style="width: 400px">
                    <ol>
                    <li> 
                        a. Open Metamask, tap the network selector at the top, and click Custom RPC. <br>
                        b. Enter the following URL: http://ewasm.ethereum.org:8545. <br>
                        c. Click save.
                    </li>
                    <li>To get funds: <br>
                        a. Browse to the faucet, make sure it your public key is shown correctly - from Metamask in the "user" section, then tap "request 1 ether from faucet" in the "faucet" section. <br>
                        b. Click the txid that appears in the "transactions" section and watch your faucet transaction get mined.<br>
                        <i>OR</i> <br>
                        <a hreaf="https://github.com/ewasm/testnet/blob/master/README.md#geth">Setup</a> a geth testnet node and mine some coins!
                    </li>
                    <li>Become the reigning monarch :)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <footer class="pv4 ph3 ph5-m ph6-l mid-gray pa1">
      <div class="tc mt3">
        <a href="http://ewasm.ethereum.org/faucet/" title="Funds" class="f6 dib ph2 link mid-gray dim">Need funds?</a>
      </div>
      <small class="f6 db tc"> &copy; 2019 <b class="ttu">Nimplay, the eWasm <strike>Governance</strike> Company </b>, All Rights Reserved</small>
    </footer>

</body>

<script>
    var app = new Vue({
        el: '#layout',
        data: {
            contract_address: "0x2EFf4cF589EDa5FabAE14D1689fA829b02e994Ed",
            web3_enabled: false,
            ewasm_testnet_enabled: false,
            account_address: '0x00000000000000000000',
            transacting: false,
            name: '',
            value: '0',
            current_king: '<unknown>',
            current_king_value: '0',
            previous_monarchs: [],
            contract_value: 0,
            contract: null,
            transact_message: ''
        },
        computed: {
            orderedKings: function () {
                return _.sortBy(this.previous_monarchs, 'value').reverse()
            }
        },
        methods: {
            getNetwork: function() {
                var _this = this;
                web3.eth.net.getId(function(err, net_id) {
                    if (net_id == 66) {
                        _this.ewasm_testnet_enabled = true
                        if (!_this.contract) {
                            _this.setContract();
                        }
                    }
                })
            },
            getKingValue: function() {
                var _this = this;
                _this.contract.methods.getKingValue().call(
                    {from: web3.eth.accounts[0]},
                    function(error, res) {
                        if (!error) {
                            _this.current_king_value  = web3.utils.fromWei(res, 'ether')
                            _this.value = _this.current_king_value
                        }
                    }
                );
            },
            getAddress: function() {
                var _this = this;
                web3.eth.getAccounts(function(err, accounts) {
                    if (accounts.length > 0 && (accounts[0] !== _this.account_address)) {
                        _this.account_address = accounts[0]
                    }
                })
            },
            clean_bytes32: function(res) {
                return web3.utils.toAscii(res).replace(/\0/g, '')
            },
            getKing: function() {
                var _this = this;
                _this.contract.methods.getKing().call(
                    {from: web3.eth.accounts[0]},
                    function(error, res) {
                        if (!error) {
                            var name = _this.clean_bytes32(res)
                            _this.current_king = name;
                        }
                    }
                );
            },
            sendTransaction: function() {
                if (!this.name) {
                    this.transact_message = 'No name was set.'
                    return
                }
                if (web3.utils.toWei(this.value, 'ether') <= web3.utils.toWei(this.current_king_value, 'ether')) {
                    this.transact_message = 'Challenge value has to be greater than current value.'
                    return
                }

                var _this = this;
                this.transacting = true;
                this.transact_message = '';
                this.contract.methods.becomeKing(web3.utils.toHex(this.name)).send({
                    from: this.account_address,
                    value: web3.utils.toWei(this.value, 'ether'),
                    gasPrice: web3.utils.toWei('1', 'kwei'),
                }).on('receipt', function(receipt) {
                    _this.transact_message = 'Transaction was successful.'
                    _this.transacting = false;
                    _this.getKingValue();
                    _this.getKing();
                    _this.getContractValue();
                }).on('error', function() {
                    _this.transacting = false;
                    _this.transact_message = 'Transaction failed.'
                })
            },
            getPreviousMonarchs: function() {
                var _this = this;
                this.contract.events.BecameKing(
                    {
                        fromBlock: 1062067
                    },
                    function(error, event) {
                        web3.eth.getBlock(event.blockNumber, function(err, block) {
                            var v = web3.utils.fromWei(event.returnValues.value, 'ether');
                            var name = _this.clean_bytes32(event.returnValues.name)
                            _this.previous_monarchs.push({
                                name: name,
                                value: v,
                                date_crowned: (new Date(block.timestamp * 1000)).toISOString()
                            })
                            if (v > this.current_king_value) {
                                this.current_king_value = v;
                                this.current_king = name;
                            }
                        })
                    }
                )
            },
            setContract: function() {
                var abi = [{"name":"becomeKing","inputs":[{"name":"name","type":"bytes32"}],"outputs":[],"constant":false,"payable":true,"type":"function"},{"name":"getKing","inputs":[],"outputs":[{"name":"out1","type":"bytes32"}],"constant":false,"payable":false,"type":"function"},{"name":"getKingAddr","inputs":[],"outputs":[{"name":"out1","type":"address"}],"constant":false,"payable":false,"type":"function"},{"name":"getKingValue","inputs":[],"outputs":[{"name":"out1","type":"uint128"}],"constant":false,"payable":false,"type":"function"},{"inputs":[{"name":"name","type":"bytes32","indexed":false},{"name":"value","type":"uint128","indexed":false}],"name":"BecameKing","type":"event","anonymous":false},{"inputs":[{"name":"name","type":"bytes32","indexed":true},{"name":"value","type":"uint128","indexed":true}],"name":"BecameKing2","type":"event","anonymous":false}];
                // contract = web3.eth.contract(abi).at(contract_address)
                this.contract = new web3.eth.Contract(abi, this.contract_address)
                this.getKing();
                this.getKingValue();
                this.getPreviousMonarchs();
            },
            getContractValue: function() {
                var _this = this;
                web3.eth.getBalance(this.contract_address).then(function(res) {
                    _this.contract_value = web3.utils.fromWei(res, 'ether');
                })
            },
            pollNetwork: function() {
                var _this = this;
                _this.getNetwork();
                setInterval(
                    function() {
                        _this.getNetwork()
                    },
                    500
                )
            },
            pollAccount: function() {
                var _this = this;
                setInterval(
                    function() {
                        _this.getAddress()
                    },
                    500
                )
            }
        },
        mounted: function() {
            if (typeof window.ethereum !== 'undefined'
                || (typeof window.web3 !== 'undefined')) {
                ethereum.enable(function(err, res) {
                });
               // Use Mist/MetaMask's provider
                web3 = new Web3(window.web3.currentProvider)
                this.web3js = web3;
                this.web3_enabled = true;
                this.pollNetwork();
                this.pollAccount();
                this.setContract();
                this.getContractValue();
            } else {
                this.web3_enable = false;
            }
        }
    });
</script>
</html>
